.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid #c2c7ca;
}

.page-item center1{
    width:37.45px;

}

.page-item active center{
   width:50px;
}