:host ::ng-deep .mat-card-actions-1{
    display: flex;
  }
  :host ::ng-deep .count-in-cart{
    margin-top: 0.2em;
  }
  
  img.det-photo{
	width: auto;
  }

  
  :host ::ng-deep .rating-bar{
    margin-left: 15px;
  }

  :host ::ng-deep .container-rating{
    display: flex;
  }

  #rating{
    margin-top: 3px;
  }

  .err{
    color: red;
  }