
<form fxLayout="column" [formGroup]="form!" (ngSubmit)="onSubmit(form!)">


<mat-form-field appearance="outline">
    <mat-label>Nickname</mat-label>
    <input matInput required formControlName="nickname">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Nazwa</mat-label>
  <input matInput required formControlName="name">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Opis</mat-label>
  <textarea class="text-area" required rows="5" matInput formControlName="description"></textarea>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Data</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="data">
    <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<div class ="error" *ngFor="let err of errors">
  {{err}}
</div>
  <button mat-raised-button color="warn" type="submit">Dodaj</button>

</form>
