<html>
    <div class="header-wrapper">
    
        <div class="title-box">
            <div class="content">
                <header>Restauracja</header>
                <div class="quote-box">
                    <div class="quote">
                        <p>"A good restaurant is like a vacation; it transports you, and it becomes a lot more than just about the food."</p>
                    </div>
                    <div class="caption">
                        <p>Philip Rosenthal</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="side-image"><img src="../../assets/side-photo1.png" alt="homepage photo"></div>
    </div>

    <div class="gallery">
        <div class="title-image">
            <img src="https://images.trvl-media.com/hotels/6000000/5550000/5548300/5548283/fa846346.jpg" alt="homepage photo">
        </div>
    </div>
    
    
    <div class="contact-data">
        <div class="content-contact-data">
            Dane kontaktowe:<br>
            <br>
            URSYNÓW 02-784 Warszawa,<br>
            Janowskiego 9 / róg Romera
            <br>
            Godziny otwarcia:<br>
            Pon-Czw 11:00-23:00, Pt. - Sob. 11:00-24:00, Niedz - 11:00-23:00<br>
            tel. 22 123 45 67<br>
            DO 5 KM DARMOWA DOSTAWA!
        </div>
    </div>
    <div class="text-center">
        <img src="../../assets/mapa.PNG" alt="" style="max-width: 100%;">
    </div>
</html>
