<div>
  <header class="row-1" fxLayout="row">
    <button mat-raised-button class ="mat-raised-button-0" color="primary" (click)="openNewDishDialog()">Dodaj nowe danie</button>
    <ng-multiselect-dropdown class="dropdown-1"
      [placeholder]="'Typ kuchni'"
      [settings]="dropdownSettings!"
      [data]="dropdownTypesList"
      [(ngModel)]="selectedTypesItems"
      (onSelect)="onItemSelect($event)"
      (onDeSelect)="onItemDeselect($event)"
      (onSelectAll)="onSelectAll($event)"
      (onDeSelectAll)="onDeselectAll($event)"
    >
    </ng-multiselect-dropdown>

    <ng-multiselect-dropdown class="dropdown-2"
      [placeholder]="'Kategoria'"
      [settings]="dropdownSettings!"
      [data]="dropdownCategoriesList"
      [(ngModel)]="selectedCategoriesItems"
      (onSelect)="onItemSelect($event)"
      (onDeSelect)="onItemDeselect($event)"
      (onSelectAll)="onSelectAll($event)"
      (onDeSelectAll)="onDeselectAll($event)"
    >
    </ng-multiselect-dropdown>

    <ng-multiselect-dropdown class="dropdown-3"
      *ngIf="rating.length > 0"
      [placeholder]="'Ocena'"
      [settings]="dropdownSettings!"
      [data]="dropdownRatingList"
      [(ngModel)]="selectedRatingItems"
      (onSelect)="onItemSelect($event)"
      (onDeSelect)="onItemDeselect($event)"
      (onSelectAll)="onSelectAll($event)"
      (onDeSelectAll)="onDeselectAll($event)"
    >
    </ng-multiselect-dropdown>


      <h4 class="price" >Cena: </h4>
      <div class="price-container">
      <mat-form-field appearance="standard">
        <input matInput type="number" placeholder="Od" [formControl]="from" (input)="priceChanged()">
      </mat-form-field>
      <mat-form-field appearance="standard" class ="form-field">
        <input matInput type="number" placeholder="Do" [formControl]="to" (input)="priceChanged()">
      </mat-form-field>
      <button mat-raised-button class ="mat-raised-button-1" color="primary" routerLink="/cart">Koszyk</button>
    </div>
  </header>

  <h3 class="total" [ngClass]="{'orange': getCartSum() < 10, 'blue': getCartSum() >= 10}">Sumaryczna ilość zarezerwowanych dań: {{getCartSum()}}</h3>

  <div class="outer" fxLayoutGap="25px grid">
    <div class = "grid" *ngFor=" let dish of dishes">
      <ng-container [ngTemplateOutlet]="dishCard" [ngTemplateOutletContext]="{dish: dish}"></ng-container>
    </div>
  </div>
</div>

<ng-template #dishCard let-dish='dish'>
  <mat-card class="example-card" [ngClass]="{'mostExpensive': dish.price === getMostExpensive(), 'cheapest': dish.price === getCheapest()}">
    <mat-card-header>
      <mat-card-title>
        <p>{{dish.name | uppercase}}</p>
        <p>{{dish.price}} {{dish.currency}}</p>
      </mat-card-title>
      <mat-card-subtitle>{{dish.category}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{dish.photos[0]}}" alt="Dish photo">
    <mat-card-content>
      <h2>Kuchnia: {{dish.type | uppercase}}</h2>
      <p>
        {{dish.description}}
      </p>
      <div class="container-rating">
        <p>Ocena: {{dish.rating}}</p>
        <ng-rating-bar class="rating-bar"
          *ngIf="!dish.alreadyRated"
          [value]="0"
          (valueChange)="onRatingValueChange($event, dish.name)"
          [ratingCount]="5"
        ></ng-rating-bar>
      </div>
      <p *ngIf="dish.maxCount - getCountInCart(dish.name) > 0" [ngClass]="{'low': dish.maxCount - getCountInCart(dish.name) <= 5}">Dostępne: {{dish.maxCount - getCountInCart(dish.name)}}</p>
      <p *ngIf="dish.maxCount - getCountInCart(dish.name) == 0" class="low">Niedostępne</p>
    </mat-card-content>
    <mat-card-actions class="mat-card-actions-1" >
      <button mat-icon-button color="primary" (click)="addToCart(dish)" [disabled]="dish.maxCount - getCountInCart(dish.name) === 0"><mat-icon>add_circle_outline</mat-icon></button>
      <h2 class="count-in-cart" >{{getCountInCart(dish.name)}}</h2>
      <button mat-icon-button color="warn" (click)="removeFromCart(dish.name)" [disabled]="getCountInCart(dish.name) === 0"><mat-icon>remove_circle_outline</mat-icon></button>

      <button mat-icon-button (click)="removeDish(dish.name)">
        <mat-icon>delete</mat-icon>
      </button>

    </mat-card-actions>
  </mat-card>

</ng-template>
